.heroCard__container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px 5px #fff, 0 0 10px 5px rgb(202, 223, 15);
  max-width: 310px;
  max-height: 524px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
}

.heroCard__img {
  min-width: 240px;
}

.heroCard__title {
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 0 100px rgba(225, 225, 224, 0.7);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 1%;
  left: 1%;
  margin: 0;
  font-family: italic, sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  color: #f23;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.heroCard__title  {
  display: inline-block;
  text-decoration: none;
}

.heroCard__title::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(251, 251, 251);
  transition: width .4s;
  -webkit-transition: width .4s;
  -moz-transition: width .4s;
  -ms-transition: width .4s;
  -o-transition: width .4s;
}

.heroCard__title:hover::after {
  width: 100%;
}

.hero__add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  width: 220px;
  height: 40px;
  z-index: 1;
  left: 50%;
  top: 95%;
  -webkit-transform: translate(-50%, -90%);
  -moz-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  -o-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  // background-color:#f23
}


.btn__image {
  position: absolute;
}