.basket__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}

.Swiper__title {
  font-size: 30px;
  margin: 25px 0;
  font-weight: 400;
  text-shadow: 0 0 20px #fff;
}
