.Profile__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Profile__link {
  text-decoration: none;
}

.Profile__text {
  font-size: 16px;
  text-shadow: 0px 0px 4px rgba(56, 169, 240, 0.75), 0px 0px 4px #fff;
}

.EmptyPhoto {
  width: 320px;
  height: 320px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.Profile__info {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: baseline;
  gap: 10px;
}


@media screen and (max-width:520px) {
  .Profile__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .Profile__info {
    justify-items: center;
  }
}