.Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  max-width: 1480px;
  padding: 20px;
  margin: 0 auto;
}

@media screen and  (max-width:1440px) {
  .Container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and  (max-width:1150px) {
  .Container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and  (max-width:990px) {
  .Container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:750px) {
  .header {
    max-width: 520px ;
  }
  .header__wrap {
    position: relative;
  }
}

@media screen and (max-width:520px) {
  .header {
    max-width: 320px ;
    padding: 0;
  }
}