.filterBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #f23456;
  background-color: transparent;
  color: #fff;
  padding: 5px 45px;
  border-radius: 5px;
  -webkit-border-radius: 5p;
  -moz-border-radius: 5p;
  -ms-border-radius: 5p;
  -o-border-radius: 5p;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:hover {
    color: #000;
    background: #c6ffdd;
    background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
    background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  }
}
