.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Filter__wrap {
  display: grid;
  justify-content: center;
  margin: 15px 0;
}


@media screen and  (max-width:1150px) {
  .filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and  (max-width:990px) {
  .header {
    max-width: 750px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


@media screen and (max-width:520px) {
  .filter {
    grid-template-columns: repeat(1, 1fr);
  }
}