.Navigate__wrapp {
  display: flex;
  grid-column-start: 2;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.Navigate__link {
  text-decoration: none;
}

@media screen and  (max-width:1440px) {
  .Navigate__wrapp  {
    display: grid;
    justify-items: center;
    gap: 5px;
  }
}