
.EnemyPageDescr {
  position: relative;
  width: 500px;
  height: 524px;
  font-weight: 400;
  justify-self: flex-start;
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 20px;
  color:bisque;
}

.rarity {
  position: absolute;
  display: flex;
  gap: 5px;
  top: 95%;
  left: 80%;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.visionImg {
  position: absolute;
  top: 1%;
  left: 90%;
}