.HeroPage__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 40px;
  grid-template-areas:
    'title title title title'
    'description description . img';
}

.HeroPage__title {
  font-size: 30px;
  letter-spacing: 1px;
  color: #fff;
  grid-area: title;
  color: #fff;
  text-shadow: 0px 0px 20px rgb(217, 232, 50);
}

.HeroPage__img {
  grid-area: img;
}

.HeroPage__description {
  grid-area: description;
}


@media screen and (max-width:1170px) {
  .HeroPage__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
