body {
  margin: 0;
  font-family: italic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

@font-face {
  font-family: 'italic';
  src: url(./fonts/BarlowCondensed-Italic.woff),
  url(./fonts/BarlowCondensed-Italic.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'medium';
  src: url(./fonts/BarlowCondensed-Medium.woff),
  url(./fonts/BarlowCondensed-Medium.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'regular';
  src: url(./fonts/BarlowCondensed-Regular.woff),
  url(./fonts/BarlowCondensed-Regular.woff2);
  font-style: normal;
  font-display: swap;
}
::-webkit-scrollbar { /* 1 - скроллбар */
    width: 10px;
    height: 10px;
    background-color: #9b5959;
  }

  ::-webkit-scrollbar-thumb {
    /*5-ползунок*/border-radius: 4px;
    background-color: #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.swiper {
  margin-bottom: 15px;
}

.swiper-slide-shadow {
  background: none !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.swiper-button-next {
    &:after {
  display: none;
}
}

.swiper-button-prev {
    &:after {
  display: none;
}
}