.NotFoundPage__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.NotFoundPage__buttonBack {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 20px;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
  color: #fff;
  text-shadow: 0 0 10px #fff232;
  cursor: pointer;
}

.NotFoundPage__image {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.NotFoundPage__text {
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #fff232;
  margin-bottom: 10px;
}
